*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero{
    width: 80%;
    margin: auto;
}

.navbar{
    margin: 30px auto;
    display: flex;
    align-items: center;
}

.main-logo{
    width: 850px;
    position: relative;
    bottom: 5rem;
    right: 3rem;
}

ul{
    flex: 1;
    text-align: right;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}

ul li a:hover{
    color: #561496;
    text-decoration: underline;
}

.mainpage{
    display: flex;
    align-items: center;
}

.maintitle{
    position: relative;
    bottom: 9rem;
    right: 12rem;
    font-size: 70px;
}

.sub-title{
    position: relative;
    bottom: 8rem;
    right: 11rem;
}
