html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
	margin-left: 3rem;
}

*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#map-canvas {
	height: 50%;
	width: 75%;
	margin-left: 5rem;
}

label {
	padding: 20px 10px;
	display: inline-block;
	font-size: 1.5em;
}

input {
	font-size: 0.75em;
	padding: 10px;
}

.lab{
	position: relative;
	left: 20rem;
	top: 1.5rem;
}

.three-menu{
	align-content: center;
	position: relative;
	left: 5rem;
}

a{
    text-decoration: none;
    color: white;
}

button{
    background-color:#561496;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 27rem;
    top: 3rem;
}
