*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::-webkit-file-upload-button{
    padding: 4px 5px;
    color: white;
    background: #561496;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}

.mainlogos{
    width: 150px;
}

.banner{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.link{
    color: black;
}

button{
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:none;
    background: #561496;
    padding: 8px 10px;
    border-radius: 3px;
    position: relative;
    top: 5rem;
    left: 13rem;
    font-size: 25px;
}

.resource{
    position: relative;
    left: 52rem;
    bottom: 20rem;
}

.resource2{
    position: relative;
    left: 45rem;
    bottom: 19rem;
}

#res{
    position: relative;
    left: 40rem;
    bottom: 18rem;
    border-collapse: collapse;
    width: 40%;

}

#res td, #res th {
    border: 1px solid #ddd;
    padding: 4px;
  }

#res tr:nth-child(even){background-color: #f2f2f2;}

#res tr:hover {background-color: #ddd;}

#res th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #561496;
    color: white;
}

.link:hover{
    text-decoration: underline;
    color: #561496;
}
